/*
  - flex
  - flex-wrap
  - align-items
  - flex-direction
  - justify-content
*/

.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }

.shrink-0 { flex-shrink: 0; }

.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }

.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }

.direction-reverse { flex-direction: row-reverse; } 
.direction-column { flex-direction: column; }
.direction-column-reverse { flex-direction: column-reverse; }

.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

@media (--breakpoint-small) {
  .grow-1-sm { flex-grow: 1; }
  .grow-2-sm { flex-grow: 2; }
  .grow-3-sm { flex-grow: 3; }

  .shrink-0-sm { flex-shrink: 0; }

  .wrap-sm { flex-wrap: wrap; }
  .nowrap-sm { flex-wrap: nowrap; }

  .align-start-sm { align-items: flex-start; }
  .align-center-sm { align-items: center; }
  .align-end-sm { align-items: flex-end; }

  .direction-reverse-sm { flex-direction: row-reverse; } 
  .direction-column-sm { flex-direction: column; }
  .direction-column-reverse-sm { flex-direction: column-reverse; }

  .justify-between-sm { justify-content: space-between; }
  .justify-center-sm { justify-content: center; }
  .justify-around-sm { justify-content: space-around; }
  .justify-start-sm { justify-content: flex-start; }
  .justify-end-sm { justify-content: flex-end; }
}

@media (--breakpoint-medium) {
  .grow-1-md { flex-grow: 1; }
  .grow-2-md { flex-grow: 2; }
  .grow-3-md { flex-grow: 3; }

  .shrink-0-md { flex-shrink: 0; }

  .wrap-md { flex-wrap: wrap; }
  .nowrap-md { flex-wrap: nowrap; }

  .align-start-md { align-items: flex-start; }
  .align-center-md { align-items: center; }
  .align-end-md { align-items: flex-end; }

  .direction-reverse-md { flex-direction: row-reverse; } 
  .direction-column-md { flex-direction: column; }
  .direction-column-reverse-md { flex-direction: column-reverse; }

  .justify-between-md { justify-content: space-between; }
  .justify-center-md { justify-content: center; }
  .justify-around-md { justify-content: space-around; }
  .justify-start-md { justify-content: flex-start; }
  .justify-end-md { justify-content: flex-end; }
}

@media (--breakpoint-large) {
  .grow-1-lg { flex-grow: 1; }
  .grow-2-lg { flex-grow: 2; }
  .grow-3-lg { flex-grow: 3; }

  .shrink-0-lg { flex-shrink: 0; }

  .wrap-lg { flex-wrap: wrap; }
  .nowrap-lg { flex-wrap: nowrap; }

  .align-start-lg { align-items: flex-start; }
  .align-center-lg { align-items: center; }
  .align-end-lg { align-items: flex-end; }

  .direction-reverse-lg { flex-direction: row-reverse; } 
  .direction-column-lg { flex-direction: column; }
  .direction-column-reverse-lg { flex-direction: column-reverse; }

  .justify-between-lg { justify-content: space-between; }
  .justify-center-lg { justify-content: center; }
  .justify-around-lg { justify-content: space-around; }
  .justify-start-lg { justify-content: flex-start; }
  .justify-end-lg { justify-content: flex-end; }
}
