.h-reset-input {
  appearance: none;
  color: inherit;
  background: transparent;
  font: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 0;
}

.h-reset-list {
  list-style-type: none;
  padding-left: 0;
}
