/*
  Axiomatic CSS and Lobotomized Owls
  https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
*/

:--heading,
:--block {
  margin-bottom: 0;
}

* + * {
  margin-top: var(--default-margin);
}

*:first-child,
li + li,
br,
/* objectFitVideos() */
* + object-fit {
  margin-top: 0;
}
