/* 
  - width
  - height
  - max-width
  - min-width
  - max-height
  - min-height
*/

.w0 { width: 0; }
.w1 { width: var(--spacing-1); }
.w2 { width: var(--spacing-2); }
.w3 { width: var(--spacing-3); }
.w4 { width: var(--spacing-4); }
.w5 { width: var(--spacing-5); }
.w6 { width: var(--spacing-6); }
.w7 { width: var(--spacing-7); }

.w-third { width: calc(100% / 3); }
.w-two-thirds { width: calc(100% / 1.5); }
.w-100 { width: 100%; }
.w-auto { width: auto; }

.w-1\/12 { width: (1 / 12 * 100%); }
.w-2\/12 { width: (2 / 12 * 100%); }
.w-3\/12 { width: (3 / 12 * 100%); }
.w-4\/12 { width: (4 / 12 * 100%); }
.w-5\/12 { width: (5 / 12 * 100%); }
.w-6\/12 { width: (6 / 12 * 100%); }
.w-7\/12 { width: (7 / 12 * 100%); }
.w-8\/12 { width: (8 / 12 * 100%); }
.w-9\/12 { width: (9 / 12 * 100%); }
.w-10\/12 { width: (10 / 12 * 100%); }
.w-11\/12 { width: (11 / 12 * 100%); }
.w-12\/12 { width: (12 / 12 * 100%); }

.container { max-width: var(--container); }
.free { max-width: none; }

.h0 { height: 0; }
.h-100 { height: 100%; }
.h-auto { height: auto; }
.h-100vh { height: 100vh; }

.min-h-100 { min-height: 100%; }
.min-h-100vh { min-height: 100vh; }

@media (--breakpoint-small) {
  .w0-sm { width: 0; }
  .w1-sm { width: var(--spacing-1); }
  .w2-sm { width: var(--spacing-2); }
  .w3-sm { width: var(--spacing-3); }
  .w4-sm { width: var(--spacing-4); }
  .w5-sm { width: var(--spacing-5); }
  .w6-sm { width: var(--spacing-6); }
  .w7-sm { width: var(--spacing-7); }

  .w-third-sm { width: calc(100% / 3); }
  .w-two-thirds-sm { width: calc(100% / 1.5); }
  .w-100-sm { width: 100%; }
  .w-auto-sm { width: auto; }

  .w-1\/12-sm { width: (1 / 12 * 100%); }
  .w-2\/12-sm { width: (2 / 12 * 100%); }
  .w-3\/12-sm { width: (3 / 12 * 100%); }
  .w-4\/12-sm { width: (4 / 12 * 100%); }
  .w-5\/12-sm { width: (5 / 12 * 100%); }
  .w-6\/12-sm { width: (6 / 12 * 100%); }
  .w-7\/12-sm { width: (7 / 12 * 100%); }
  .w-8\/12-sm { width: (8 / 12 * 100%); }
  .w-9\/12-sm { width: (9 / 12 * 100%); }
  .w-10\/12-sm { width: (10 / 12 * 100%); }
  .w-11\/12-sm { width: (11 / 12 * 100%); }
  .w-12\/12-sm { width: (12 / 12 * 100%); }

  .container-sm { max-width: var(--container); }
  .free-sm { max-width: none; }

  .h0-sm { height: 0; }
  .h-100-sm { height: 100%; }
  .h-auto-sm { height: auto; }
  .h-100vh-sm { height: 100vh; }

  .min-h-100-sm { min-height: 100%; }
  .min-h-100vh-sm { min-height: 100vh; }
}

@media (--breakpoint-medium) {
  .w0-md { width: 0; }
  .w1-md { width: var(--spacing-1); }
  .w2-md { width: var(--spacing-2); }
  .w3-md { width: var(--spacing-3); }
  .w4-md { width: var(--spacing-4); }
  .w5-md { width: var(--spacing-5); }
  .w6-md { width: var(--spacing-6); }
  .w7-md { width: var(--spacing-7); }

  .w-third-md { width: calc(100% / 3); }
  .w-two-thirds-md { width: calc(100% / 1.5); }
  .w-100-md { width: 100%; }
  .w-auto-md { width: auto; }

  .w-1\/12-md { width: (1 / 12 * 100%); }
  .w-2\/12-md { width: (2 / 12 * 100%); }
  .w-3\/12-md { width: (3 / 12 * 100%); }
  .w-4\/12-md { width: (4 / 12 * 100%); }
  .w-5\/12-md { width: (5 / 12 * 100%); }
  .w-6\/12-md { width: (6 / 12 * 100%); }
  .w-7\/12-md { width: (7 / 12 * 100%); }
  .w-8\/12-md { width: (8 / 12 * 100%); }
  .w-9\/12-md { width: (9 / 12 * 100%); }
  .w-10\/12-md { width: (10 / 12 * 100%); }
  .w-11\/12-md { width: (11 / 12 * 100%); }
  .w-12\/12-md { width: (12 / 12 * 100%); }

  .container-md { max-width: var(--container); }
  .free-md { max-width: none; }

  .h0-md { height: 0; }
  .h-100-md { height: 100%; }
  .h-auto-md { height: auto; }
  .h-100vh-md { height: 100vh; }

  .min-h-100-md { min-height: 100%; }
  .min-h-100vh-md { min-height: 100vh; }
}

@media (--breakpoint-large) {
  .w0-lg { width: 0; }
  .w1-lg { width: var(--spacing-1); }
  .w2-lg { width: var(--spacing-2); }
  .w3-lg { width: var(--spacing-3); }
  .w4-lg { width: var(--spacing-4); }
  .w5-lg { width: var(--spacing-5); }
  .w6-lg { width: var(--spacing-6); }
  .w7-lg { width: var(--spacing-7); }

  .w-third-lg { width: calc(100% / 3); }
  .w-two-thirds-lg { width: calc(100% / 1.5); }
  .w-100-lg { width: 100%; }
  .w-auto-lg { width: auto; }

  .w-1\/12-lg { width: (1 / 12 * 100%); }
  .w-2\/12-lg { width: (2 / 12 * 100%); }
  .w-3\/12-lg { width: (3 / 12 * 100%); }
  .w-4\/12-lg { width: (4 / 12 * 100%); }
  .w-5\/12-lg { width: (5 / 12 * 100%); }
  .w-6\/12-lg { width: (6 / 12 * 100%); }
  .w-7\/12-lg { width: (7 / 12 * 100%); }
  .w-8\/12-lg { width: (8 / 12 * 100%); }
  .w-9\/12-lg { width: (9 / 12 * 100%); }
  .w-10\/12-lg { width: (10 / 12 * 100%); }
  .w-11\/12-lg { width: (11 / 12 * 100%); }
  .w-12\/12-lg { width: (12 / 12 * 100%); }

  .container-lg { max-width: var(--container); }
  .free-lg { max-width: none; }

  .h0-lg { height: 0; }
  .h-100-lg { height: 100%; }
  .h-auto-lg { height: auto; }
  .h-100vh-lg { height: 100vh; }

  .min-h-100-lg { min-height: 100%; }
  .min-h-100vh-lg { min-height: 100vh; }
}
