html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: var(--lead-3);
}

body {
  --color: var(--color-0, #000000);
  --background: var(--color-1, #FFFFFF);

  color: var(--color);
  background-color: var(--background);
}
