html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: var(--leading-copy);
}

body {
  --color: var(--color-1, #000000);
  --background: var(--color-2, #FFFFFF);

  color: var(--color);
  background-color: var(--background);
}
